<table class="table table-hover">
    <thead>
        <tr>
            <td class="title"> 用户管理</td>
            <td class="pull-right"> <button class="btn btn-success " type="button">增加</button> </td>
        </tr>
        <tr>
            <th></th>
            <th>用户名</th>
            <th>手机号码</th>
            <th>身份</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1001</td>
            <td>admin</td>
            <td>15564186520</td>
            <td>管理员</td>
            <td>
                <button class="btn btn-info " type="button">编辑</button>
            </td>
        </tr>
        <tr>
            <td>1002</td>
            <td>这是一个用户名噢噢噢噢噢噢噢噢</td>
            <td>15564186520</td>
            <td>用户</td>
            <td>
                <button class="btn btn-info " type="button">编辑</button>
            </td>
        </tr>
    </tbody>
</table>