<form class="form-horizontal">
    <div class="form-group">
        <label for="exampleInputAccount4" class="col-sm-2">账号</label>
        <div class="col-md-6 col-sm-10">
            <input type="text" class="form-control" id="exampleInputAccount4" placeholder="电子邮件/手机号/用户名">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword4" class="col-sm-2">密码</label>
        <div class="col-md-6 col-sm-10">
            <input type="password" class="form-control" id="exampleInputPassword4" placeholder="密码">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputAddress1" class="col-sm-2">地址</label>
        <div class="col-sm-3">
            <select class="form-control" id="exampleInputAddress1">
          <option>北京</option>
          <option>上海</option>
        </select>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="exampleInputAddress2" placeholder="市/县">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="exampleInputAddress3" placeholder="详细地址">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
            <input type="checkbox"> 记住我
          </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">登录</button>
        </div>
    </div>
</form>